type mediadrm_vendor_data_file, file_type, data_file_type;
type imei_efs_file, file_type;
type sysfs_camera, fs_type, sysfs_type;
type firmware_file, file_type;
type persist_file, file_type;
type persist_data_file, file_type;
type camera_socket, file_type;
type qmuxd_socket, file_type;
type sysfs_fm, sysfs_type, fs_type;
type location, file_type, data_file_type;
type sysfs_kgsl_gpuclk, sysfs_type, fs_type;
type sysfs_smd_open_timeout, sysfs_type, fs_type;
type sysfs_hsic_modem_wait, sysfs_type, fs_type;

#File types required by mdm-helper
type sysfs_esoc, sysfs_type, fs_type;
type sysfs_ssr,  sysfs_type, fs_type;
type sysfs_ssr_toggle,  sysfs_type, file_type;
type sysfs_hsic, sysfs_type, fs_type;
type sysfs_hsic_host_rdy, sysfs_type, file_type;

type persist_display_file, file_type;
type sysfs_spmi_dev, sysfs_type, fs_type;
